*{
	margin:0;
	padding:0;
}

body{
	margin:0 auto;
	padding:0;
    background-color: rgba(178, 234, 127, 0.5);
    background: rgba(178, 234, 127, 0.5);
    color: rgba(178, 234, 127, 0.5);
}
header{
	position:fixed;
    background-color: rgba(141, 224, 98, 0.6);
    background: rgba(141, 224, 98, 0.6);
    color: rgba(66, 53, 51, 0.6);
	height:78px;
	width:100%;
	margin:0 auto;
	padding:0;
	display:block;
	z-index:1111;
}
.header_area{
	display:block;
	height:74px;
	margin:0 auto;
	padding:2px;
	width:96%;
}

.logo{
	float:left;
	display:inline-block;
}

.logo p{
	text-align:left;
	font-size:35px;
	padding:7px 25px;
	color:#FFFFF6;
	border:2px solid #797C80;
	border-radius:5px;
	background:-moz-linear-gradient(33% 46% 273deg, #ABE1AC, #AEF5B0 9%);
	margin:5px 5px 5px 5px;
}
.logo a{
	color:#FFFFF6;
	text-decoration:none;
}
.navber {
	display: inline-block;
    float: left;
    height: auto;
    margin-left:10%;
    margin-right: 5px;
    padding: 18px 2px;
}

.navber ul {
	float: right;
	margin-top:0px;
}

.navber ul li {
	list-style: none;
	display:inline-block;
	margin-left: 5px;
	text-align:center;
	border-radius:5px;
}

.navber ul li a{
	display: inline-block;
	background:-moz-linear-gradient(33% 95% 85deg, #ABE1AC, #AEF5B0 9%);
	color: #949DAE;
	font-size: 17px;
	border-radius:5px;
	padding: 5px 20px;
    text-decoration: none;
    width: auto;
    text-align: center;
    line-height: 26px;
}

.navber ul li a:hover, .navber ul li.active a{
	color:#A6C8D1;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
	border-radius:5px;
}

.searchber{
	display: inline-block;
    float: right;
    margin-top: 5px;
    overflow: hidden;
}

.searchber div{
	border:2px solid #797C80;
	padding:4px;
	width:20em;
}

.big_images{
	width:90%;
	margin:0 auto;
	display:block;
	position:relative;
	height:320px;
	padding-top:120px;
}

.leftimages{
	width:49%;
	float:left;
	display:inline-block;
	padding:5px;
	height:100%;
}

.rightimages{
	width:49%;
	float:right;
	display:inline-block;
	padding:5px;
	height:100%;
}

.service{
	width:90%;
	margin:0 auto;
	display:block;
	position:relative;
	color: #3a7999;
}

.service h3{
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
	padding:5px;
	font-size:30px;
	font-weight:600;
	text-align:center;
	width:20%;
	margin:0 auto;
	margin-top:60px;
	display:block;
}

.service_first{
	width:100%;
	margin:0 auto;
	display:inline-block;
	position:relative;
	margin-top:20px;
}

.service_first_left{
	width:48.8%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.service_first_right{
	width:48.8%;
	float:right;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.service_second{
	width:100%;
	margin:0 auto;
	display:inline-block;
	position:relative;
	margin-top:5px;
}

.service_second_first{
	width:32%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.service_second_second{
	width:32%;
	float:left;
	margin:0px 9px;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.service_second_third{
	width:32%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.service_third{
	width:100%;
	margin:0 auto;
	display:inline-block;
	position:relative;
	margin-top:5px;
}

.service_third_first{
	width:23.6%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.service_third_second{
	width:23.6%;
	float:left;
	margin:0px 9px;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.service_third_third{
	width:23.6%;
	float:left;
	margin:0px 9px 0px 0px;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.service_third_forth{
	width:23.6%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.service_forth{
	width:100%;
	margin:0 auto;
	display:inline-block;
	position:relative;
	margin-top:5px;
}

.service_forth_first{
	width:18.57%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.service_forth_second{
	width:18.57%;
	float:left;
	margin:0px 9px;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.service_forth_third{
	width:18.57%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.service_forth_forth{
	width:18.57%;
	float:left;
	margin:0px 9px;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.service_forth_fifth{
	width:18.57%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.featured{
	width:90%;
	margin:0 auto;
	display:block;
	position:relative;
	color: #3a7999;
	margin-top:60px;
}

.featured h3{
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
	padding:5px;
	font-size:30px;
	font-weight:600;
	text-align:center;
	width:20%;
	margin:0 auto;
	margin-top:60px;
}

.featured_first{
	width:100%;
	margin:0 auto;
	display:inline-block;
	position:relative;
	margin-top:20px;
}

.featured_first_left{
	width:48.8%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.featured_first_right{
	width:48.8%;
	float:right;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.featured_second{
	width:100%;
	margin:0 auto;
	display:inline-block;
	position:relative;
	margin-top:5px;
}

.featured_second_first{
	width:32%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.featured_second_second{
	width:32%;
	float:left;
	margin:0px 9px;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.featured_second_third{
	width:32%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.featured_third{
	width:100%;
	margin:0 auto;
	display:inline-block;
	position:relative;
	margin-top:5px;
}

.featured_third_first{
	width:23.6%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.featured_third_second{
	width:23.6%;
	float:left;
	margin:0px 9px;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.featured_third_third{
	width:23.6%;
	float:left;
	margin:0px 9px 0px 0px;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.featured_third_forth{
	width:23.6%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.featured_forth{
	width:100%;
	margin:0 auto;
	display:inline-block;
	position:relative;
	margin-top:5px;
}

.featured_forth_first{
	width:18.57%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.featured_forth_second{
	width:18.57%;
	float:left;
	margin:0px 9px;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.featured_forth_third{
	width:18.57%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.featured_forth_forth{
	width:18.57%;
	float:left;
	margin:0px 9px;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.featured_forth_fifth{
	width:18.57%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.portfolio{
	width:90%;
	margin:0 auto;
	display:block;
	position:relative;
	color: #3a7999;
	margin-top:60px;
}

.portfolio h3{
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
	padding:5px;
	font-size:30px;
	font-weight:600;
	text-align:center;
	width:20%;
	margin:0 auto;
}

.portfolio_first{
	width:100%;
	margin:0 auto;
	display:inline-block;
	position:relative;
	margin-top:20px;
}

.portfolio_first_first{
	height:560px;
	width:31%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.portfolio_first_second{
	height:560px;
	width:31%;
	float:left;
	margin:0px 27px;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.portfolio_first_third{
	height:560px;
	width:31%;
	float:left;
	margin:0 auto;
	padding:5px;
	font-size:30px;
	display:block;
	text-align:center;
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 3px 0 10px 7px #3a7999;
	border-radius:5px;
}

.portfolio_first button{
	width:100px;
	float:right;
	text-align:center;
	margin-right:15px;
	position:relative;
	margin-top:40px;
}

.portfolio_second{
	height:620px;
	width:100%;
	margin:0 auto;
	display:block;
	position:relative;
	margin-top:60px;
}

.portfolio_second_first{
	width:40%;
	float:left;
	margin:0 auto;
	margin-right:20px;
	padding:10px;
	font-size:30px;
	display:block;
	text-align:left;
    background-color: rgba(135, 163, 92, 1);
    background: rgba(135, 163, 92, 1);
    color: rgba(135, 163, 92, 1);
    border:ridge 5px #1c6118;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

.signup{
	width:95%;
	height:auto;
	float:left;
	padding:10px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	color: #3a7999;
	border-radius:5px;
}

.signup_first{
	width:100%;
	height:auto;
	float:left;
	padding:0px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	color: #3a7999;
	border-radius:5px;
	margin-top:10px;
	margin-bottom:10px;
}

.signup_first_left input{
	width:43%;
	height:auto;
	float:left;
	padding:10px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	font-size:20px;
	color: #3a7999;
	border:2px solid #b9ebbb;
	border-radius:5px;
}

.signup_first_left input:active{
	color: #171a0a;
	border:2px solid #9e929e;
}

.signup_first_right input{
	width:43%;
	height:auto;
	float:right;
	padding:10px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	font-size:20px;
	color: #3a7999;
	border:2px solid #b9ebbb;
	border-radius:5px;
}

.signup_first_right input:active{
	color: #171a0a;
	border:2px solid #9e929e;
}

.signup_second{
	width:100%;
	height:auto;
	float:left;
	padding:0px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	color: #3a7999;
	border-radius:5px;
	margin-bottom:10px;
}

.signup_second input{
	width: 94.8%;
	height:auto;
	float:left;
	padding:10px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	font-size:20px;
	color: #3a7999;
	border:2px solid #b9ebbb;
	border-radius:5px;
}

.signup_second input:active{
	color: #171a0a;
	border:2px solid #9e929e;
}

.signup_third{
	width:100%;
	height:auto;
	float:left;
	padding:0px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	color: #3a7999;
	border-radius:5px;
	margin-bottom:10px;
}


.signup_third input{
	width: 94.8%;
	height:auto;
	float:left;
	padding:10px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	font-size:20px;
	color: #3a7999;
	border:2px solid #b9ebbb;
	border-radius:5px;
}

.signup_third input:active{
	color: #171a0a;
	border:2px solid #9e929e;
}

.signup_forth{
	width:100%;
	height:auto;
	float:left;
	padding:0px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	color: #3a7999;
	border-radius:5px;
	margin-bottom:10px;
}

.signup_forth_area{
	width: 94.8%;
	height:auto;
	float:left;
	display:inline-block;
	padding:10px;
	border:2px solid #b9ebbb;
	border-radius:5px;
}


.signup_forth_left{
	width:10%;
	height:auto;
	float:left;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	font-size:20px;
	color: #3a7999;
	border-radius:5px;
}

.signup_forth_right{
	width:80%;
	height:auto;
	float:right;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	font-size:20px;
	color: #3a7999;
	border-radius:5px;
}

.signup_forth input{
	margin-left:20px;
	margin-right:5px;
}

.signup_fifth{
	width:100%;
	height:auto;
	float:left;
	padding:0px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	color: #3a7999;
	border-radius:5px;
	margin-bottom:10px;
}


.signup_fifth input{
	width: 94.8%;
	height:auto;
	float:left;
	padding:10px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	font-size:20px;
	color: #3a7999;
	border:2px solid #b9ebbb;
	border-radius:5px;
}

.signup_fifth input:active{
	color: #171a0a;
	border:2px solid #9e929e;
}

.signup_sixth{
	width:100%;
	height:auto;
	float:left;
	padding:0px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	color: #3a7999;
	border-radius:5px;
	margin-bottom:10px;
}


.signup_sixth input{
	width: 94.8%;
	height:auto;
	float:left;
	padding:10px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	font-size:20px;
	color: #3a7999;
	border:2px solid #b9ebbb;
	border-radius:5px;
}

.signup_sixth input:active{
	color: #171a0a;
	border:2px solid #9e929e;
}

.signup_seventh{
	width:100%;
	height:auto;
	float:left;
	padding:0px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	color: #3a7999;
	border-radius:5px;
	margin-top:10px;
	margin-bottom:10px;
}

.signup_seventh_left{
	width:45%;
	height:auto;
	float:left;
	padding:10px;
	display:inline-block;
	text-align:left;
	background: rgba(0,0,0,0);
	font-size:15px;
	color: #3a7999;
}

.signup_seventh_left input{
	float:left;
	margin-left:0px;
	margin-right:7px;
	display:inline-block;
}
.signup_seventh_left p{
	margin-right:40px;
	display:inline-block;
	float:right;
	margin-top:-5px;
}

.signup_seventh_right input{
	width:30%;
	height:auto;
	float:right;
	padding:5px;
	display:inline-block;
	text-align:center;
    background-color: rgba(37, 47, 36, 1);
    background: rgba(37, 47, 36, 1);
    color: rgba(255, 255, 255, 1);
	font-size:20px;
	font-weight:600;
	border:2px solid #b9ebbb;
	border-radius:5px;
    -moz-box-shadow: 4px 6px 6px #000000;
    -webkit-box-shadow: 4px 6px 6px #000000;
    box-shadow: 4px 6px 6px #000000;
}

.signup_seventh_right input:active{
	background-color: rgba(37, 47, 36, 1);
    background: rgba(37, 47, 36, 1);
    color: rgba(155, 145, 245, 1);
	border:2px solid #9e929e;
}

.portfolio_second_second{
	width:48.8%;
	float:right;
	margin:0 auto;
	padding:5px;
	display:inline-block;
	background: rgba(0,0,0,0);
	border-radius:5px;
}

.portfolio_second_second h2{
	font-size:40px;
	margin-top:10px;
}
.portfolio_second_second p{
	font-size:20px;
	margin-top:10px;
}


.portfolio_second_second iframe{
	margin-top:10px;
	width:100%;
	height:340px;
    -moz-box-shadow: 0px 0px 17px #f7ff00;
	-webkit-box-shadow: 0px 0px 17px #f7ff00;
	box-shadow: 0px 0px 17px #f7ff00;
    border:double 5px #050505;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.portfolio_second_second audio{
	margin-top:10px;
	width:100%;
}

footer{    
	display:block;
}

.footer_area{
    bottom: 0;
    position: fixed;
    width: 100%;
	background-color: rgba(141, 224, 98, 0.6);
    background: rgba(141, 224, 98, 0.6);
    color: rgba(66, 53, 51, 0.6);
	height:80px;
}

.footer_area_first{
	width:30%;
	display:inline-block;
	padding:5px;
	text-align:center;
	padding-top:25px;
}

.footer_area_first a img{
	transform-style: preserve-3d;
}

.footer_area_first a img:after {
	top: -100%;
	left: 0px;
	width: 100%;
	position: absolute;
	background: #3a9999;
	border-radius: 5px;
	content: '';
	transform-origin: left bottom;
	transform: rotateY(90deg);
}

.footer_area_first a img:hover {
	transform-origin: center bottom;
	transform: rotateY(-90deg) translateX(100%);
}

.footer_area_second{
	width:37%;
	display:inline-block;
	padding:5px;
	text-align:center;
}

.footer_area_second a img:after {
	padding-top:20px;
}

.footer_area_second a img:hover {
	padding-bottom:20px;
}

.footer_area_third{
	width:30%;
	display:inline-block;
	padding:5px;
	text-align:center;
	position:absolute;
	margin-top:30px;
}